.gamePane {
    background-color: #fdfff5;
}

.vertex {
    position: relative;
    z-index: 1;
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
}
