.m-all {
    background-color: #fdfff5;
    color: #222222;
}

.m-head {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 1.75rem;
    text-align: center;
}

.m-body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    width: 90%;
    margin: auto;
}

.m-footer {
    text-align: right;
}

.m-profile {
    margin-left: 9%;
    float: left;
    border-width: 2px;
    border-color: #222222;
    background-color: #fdfff5;
    text-align: center;
    width: 7.5rem;
    height: 7.5rem;
}

.m-icon {
    margin-left: 0.5rem;
    margin-top: 0.75rem;
    font-size: 1.75rem;
}

.m-shareable {
    white-space: pre-line;
    text-align: center;
}

.m-toast {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    background-color: #fdfff5;
    height: 3rem;
    width: 7.5rem;
}

.modal-body {
    background-color: #fdfff5;
    border-radius: 10px !important;
}